<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&amp;display=swap" rel="stylesheet" />
    <!-- Material Symbols -->
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
        rel="stylesheet" />
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <!-- Theme Configuration -->


</head>

<body>
    <!-- Side Navigation -->
    <!-- <aside class="sidebar hidden md:flex w-64 sm:w-0 flex-col border-r border-surface-dark bg-background-dark"> -->
    <aside id="sidebar" class="fixed md:static top-0 left-0 z-50 hidden md:flex w-64 h-full flex-col
         border-r border-surface-dark bg-background-dark">

        <div class="p-6 pb-2">
            <div class="flex items-center gap-3 mb-8">
                <div class="flex items-center justify-center size-10 rounded-xl bg-primary text-background-dark">
                    <span class="material-symbols-outlined">task_alt</span>
                </div>
                <h1 class="text-xl font-bold tracking-tight text-white">TaskFlow</h1>
            </div>
            <nav class="flex flex-col gap-2">
                <a class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-surface-dark text-white shadow-sm transition-all group"
                    href="/dashboard">
                    <span class="material-symbols-outlined group-hover:text-primary transition-colors">dashboard</span>
                    <p class="text-sm font-semibold">Dashboard</p>
                </a>
                <a class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-surface-dark/50 text-text-secondary hover:text-white transition-all group"
                    href="/mytasks">
                    <span class="material-symbols-outlined group-hover:text-primary transition-colors">check_box</span>
                    <p class="text-sm font-medium">My Tasks</p>
                </a>
                <a class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-surface-dark/50 text-text-secondary hover:text-white transition-all group"
                    href="/createtask">
                    <span class="material-symbols-outlined group-hover:text-primary transition-colors">add_circle</span>
                    <p class="text-sm font-medium">Create Task</p>
                </a>
                <a class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-surface-dark/50 text-text-secondary hover:text-white transition-all group"
                    href="/profile">
                    <span
                        class="material-symbols-outlined group-hover:text-primary transition-colors">account_circle</span>
                    <p class="text-sm font-medium">Profile</p>
                </a>



                <a class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-surface-dark/50 text-text-secondary hover:text-white transition-all group"
                    href="/logout">
                    <span class="material-symbols-outlined group-hover:text-primary transition-colors">logout</span>
                    <p class="text-sm font-medium"> Sign Out</p>
                </a>
            </nav>
        </div>

        <div class="mt-auto p-6">
            <a href="/profile">
<div class="flex items-center gap-3 p-3 rounded-xl bg-surface-dark/30 border border-surface-dark">
                <div class="size-10 rounded-full bg-cover bg-center" data-alt="User profile picture of Alex">
                   
                        <img src="<%= pic %>" alt="" class="w-10 h-10 rounded-full">
                   

                </div>
                <div class="flex flex-col overflow-hidden">
                    <p class="text-sm font-bold text-white truncate">
                        <%= username %>
                    </p>
                    <p class="text-xs text-text-secondary truncate">Free Plan</p>
                </div>
            </div>
            </a>
            
        </div>
    </aside>
    <script src="/script.js"></script>
</body>

</html>